
<div class = 'well bs-component col-md-6 col-md-offset-3'>

  <legend> Change Password </legend>
  <%= simple_form_for @user, url:update_password_path do |f| %>
    <%= f.input :password %>
    <%= f.input :new_password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, class: "btn-primary" %>
    <% end %>
    
</div>
